body{
	font-family: 'Coming Soon', cursive;
	background: rgb(9, 0, 0);
	width: 100%;
	margin:0 auto;
}




.collapse{
	display: flex;
	justify-content: space-evenly;
	color: white;
    width: 100%;
    height: 50px;
    background-color: white;    
    justify-content: first baseline;
}

#nvacolor{
	background-color:black;
}

.lg{
	width: 100px;
	height: 80px;
}

.copita{
	width: 130px;
	height: 65px;
}
h1{
	text-align:center;
	color: aliceblue;
}
	
legend{
	text-align:center;
	color: rgb(223, 229, 234);

}
legend{
	color: white;
}

fieldset{
	padding-left: 180px;
	width: 80%;
	
}


h3{
	text-align:center;
	color: aliceblue

}
form{
	width:715px;
}
img{
	width:40px;
	height:20px;
}

.btn {
	align-content: center;
}
tr{
	color: white;
}
